@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    color: #515151;
    font-family: 'Lora', serif!important;
    font-size: 16px;
    line-height: 1.6;
}

.rounded {
    border-radius: 0rem!important;
}

.logo{
    margin-left:38%;
}

.bg-gradient-primary {
    background-color: #224abe !important;
    background-image: linear-gradient(180deg, #5f5f5f 10%, #b8b8b8 100%) !important;
    background-size: cover;
}


#wrapper #content-wrapper #content {
    flex: 1 0 auto;
    background-color: white!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.topbar {
    height: 8.375rem!important;
}

.shadow {
    box-shadow: none!important;
}

.card-inicio {
    width:50%;
    background-color:rgba(255, 255, 255, 0.7);
    margin-left:40%;
    margin-top:30px;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid #e3e6f0;
    border-radius: 0rem;
}

.btn-link:hover {
    color: #5c5c5c!important;
    text-decoration: underline;
}


.btn-link {
    font-weight: 400;
    color: #5c5c5c!important;
    text-decoration: none;
}

.topbar #sidebarToggleTop:hover {
    background-color: #efefef!important;
}

.topbar {
    height: 3rem!important;
}

.mb-4, .my-4 {
    margin-bottom: 0.5rem!important;
}


.img-responsive{
        width: 100%;
        max-width: 300px;
        height: auto;
}


/* minheight revisar si funciona en el home y no afecta la versión en cel */
.card-body {
    flex: 1 1 auto;
    /* min-height: 1px; */
    padding: 1.25rem;
}

@media (max-width: 573px) {

    .card-inicio {
        width: 90%!important;
        background-color: rgba(255, 255, 255, 0.8);
        margin-top: 30px;
        margin-left: 4%;

        color:red!important;
    }


    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid #e3e6f0;
        border-radius: 0rem;

        padding-bottom: 70% !important;
    }

    .logo{
        margin-left:0px;
    }

   

  }


@media (min-width: 576px) {

  }
  
  @media (min-width: 768px) {



  }
  
  @media (min-width: 992px) {

  

  }
  
  @media (min-width: 1200px) {


  }
